body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.users {
  padding-top: 35%;
  font-size: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-between; */
  margin-top: 15%;

}

.member {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 20px;
}

.user-button {
  margin-top: 5%;

}
.sign-up {
  border-style: solid;
  padding: 5px;

}

.move {
  padding-bottom: 5%;
}


.full-form {
  border-style: solid;
  /* width: 50%;
  margin-top: 20%; */
  /* margin-left: 20%; */
  margin-right: 10%;

}


.name-response{
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  font-weight: bold;
}

.box-size {
  border-style: solid;
  height: 150px;
  width: 300px;
  padding-bottom: 6rem;
  margin-top: 30px;
  margin-bottom: 5%;
  margin-left: 2%;

}

#name {
  color:#193560;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  font-weight: bold;
  font-variant: small-caps


}

#street {
  color: blue;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;

}

#directions {
  color: black;
  font-style: italic;
  font-size: 1.2em;
  font-family: 'Inconsolata', monospace;
}

#comment {
  color: black;
  font-style: italic;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
}

#unisex {
  color: black;
  font-style: italic;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
}

.mapboxgl-popup-content {
  border-style: solid;
}

.key {
  border-style: solid;
  display: flex;
  width: 30%;
  font-family:'Inconsolata', monospace;
  height: 510px;
}

.pic-size {
  width: 25px;
  height: 25px;
}

.list {
  list-style: none;
}

.bold {
  font-weight: bold;
  /* padding-bottom: 5px; */
}

.steps {
  font-style: italic;
  /* padding-bottom: 5px; */
}
